@model IEnumerable<RealEstateWebApp.Models.Property.PropertyViewModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Top items</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.RealEstateId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RealEstateAgentName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Count)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.RealEstateId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RealEstateAgentName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Count)
            </td>
        </tr>
}
    </tbody>
</table>
